/* Force main to take at least the height of the viewport,
 * especially for applying a background color on the landing.
 * See http://stackoverflow.com/a/17555766/347386
 * but we're using body height 100% because nesting min-height doesn't work, see
 * http://stackoverflow.com/q/16043519/347386
 * The SO answer says using body height 100% will "leave a gap beneath the fold,
 * which is usually undesirable" but I couldn't find anything wrong.
 */
html, body {
    height: 100%;
}

body {
    background-color: color('lt-grey');
}

main {
    position: relative;
    min-height: 100%;  // of body
    padding-bottom: 12em;  // sufficient for footer
    background-color: color('off-white-2');
}

body.landing main {
    padding-bottom: 0px;  // no footer on landing
    background-color: color('brand-blue');
}

header {
    padding-top: 1em;
    padding-bottom: 0.5em;
    background-color: color('off-white-2');
}
