@import "susy";
@import "partials/normalize";

blockquote, h1, h2, h3, h4, h5, h6, li, p, ul {
    margin: 0;  
    padding: 0; 
}   

@import "partials/nav";
@import "partials/color";
@import "partials/type";
@import "partials/scale";

$susy: (
    // debug: (image: show),
    global-box-sizing: border-box,
    columns: 2,

);

@include border-box-sizing;

/**
 - Columns
 */

header {
    @include container;

    padding-left: 1em;
    padding-right: 1em;  // TODO: nav currently has + 18px

    @media (min-width: 27.25em) {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

section.content {
    @include container(40em);

    padding-left: 1em;
    padding-right: 1em;

    @media (min-width: 27.25em) {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

div.blurb, ul.proj-list, div.section-footer {
    @include span(full);
}

div.bio-item {
    @media (min-width: 30em) {
        @include span(1);
    }

    /* bio images should always fill their container.
     * This allows img sizes attribute to affect what image
     * in the srcset is fetched, without affecting the
     * presentation. Possibly this should be a handled
     * globally somehow.
     */
    img {
        width: 100%;
    }
}

div.bio-last {
    @media (min-width: 30em) {
        @include span(1 last);
    }
}

img {
    max-width: 100%;

    /* auto height preserves ratio when the image is scaled. */
    height: auto;
}
