@import '../../node_modules/accoutrement-color/sass/color';

// Brand Colors
// ------------
$brand-colors: (
    'brand-blue': hsl(220, 70%, 55%),
);

// Neutral Colors
// --------------
$neutral-colors: (
    'white': hsl(0, 0%, 100%),
    'soft-white': hsl(53, 36%, 96%),
    'lt-grey': hsl(0, 0%, 90%),
    'md-grey-soft': 'md-grey' ('lighten': 10%),
    'md-grey': hsl(0, 0%, 60%),
    'md-grey-RT': 'md-grey' ('darken': 5%),
    'dk-grey': hsl(0, 0%, 30%),
    'dk-grey-RT': 'dk-grey' ('darken': 10%),
    'black': hsl(0, 0%, 0%),
);

@include add-colors($brand-colors, $neutral-colors);

@mixin grey-dotted-border {
    border-radius: 5px;
    border-width: 3px;
    border-style: dotted;
    border-color: color('md-grey-soft');
}
