@import '../../node_modules/accoutrement-color/sass/color';
@import '../../node_modules/sassdoc-theme-herman/scss/utilities';

// Brand Colors
// ------------
/// Our brand is defined by our primary brand blue,
/// and secondary light blue.
/// @group color
/// @preview color-palette
/// @type Map
$brand-colors: (
    'brand-blue': hsl(219, 75%, 35%),
    'brand-lt-blue': hsl(200, 75%, 80%),
);

// Accent Colors
// -------------
/// We use red, green and dark blue as accent
/// colors.
/// @group color
/// @preview color-palette
/// @type Map
$accent-colors: (
    'red': hsl(349, 85%, 51%),
    'red-dark': 'red' ('darken': 10%),
    'green': hsl(128, 52%, 47%),
    'green-dark': 'green' ('darken': 10%),
    'dk-blue': hsl(238, 75%, 14%),
);

// Neutral Colors
// --------------
/// Soft whites and greys round out our
/// palette.
/// @group color
/// @preview color-palette
/// @type Map
$neutral-colors: (
    'off-white': hsl(53, 36%, 96%),
    'lt-grey': hsl(0, 0%, 90%),
    'md-grey-soft': 'md-grey' ('lighten': 10%),
    'md-grey': hsl(0, 0%, 60%),
    'md-grey-RT': 'md-grey' ('darken': 5%),
    'dk-grey': hsl(0, 0%, 30%),
    'dk-grey-RT': 'dk-grey' ('darken': 10%),
);

@include add-colors($brand-colors, $accent-colors, $neutral-colors);

@include herman-add-colors('brand-colors', $brand-colors);
@include herman-add-colors('accent-colors', $accent-colors);
@include herman-add-colors('netural-colors', $neutral-colors);

@mixin grey-dotted-border {
    border-radius: 5px;
    border-width: 3px;
    border-style: dotted;
    border-color: color('md-grey-soft');
}
