// Body Font
// ---------
/// Our primary font is Foco.
/// @group fonts
$sans-serif: 'foco', sans-serif;

// Foco-specific weights
$sans-light: 300;
$sans-regular: 400;
$sans-bold: 700;
$sans-black: 900;
