p.intro {
    font-size: 1.125em;
    line-height: 1.3333;

    @media (min-width: 48em) {
        font-size: 1.5em;
    }

    @media (min-width: 56em) {
        font-size: 1.75em;
        line-height: 1.2142;
    }
}
