---
layout: base
body_class: ""
---

<body class="{{page.body_class|default:layout.body_class}}">
    <main role="main">
        <header>
            <div class="container">
                {% include nav.html %}
                <p class="site-wordmark"><a href="/">Scampersand</a></p>
            </div>
        </header>

        {% comment %}
            kramdown replaces double-dash with en-dash but we want em-dash.
            There's no option to control this behavior, so just put them back
            and let pants handle it.
        {% endcomment %}
        {{content|replace:'–','--'|pants}}
    </main>

    <script>
        $(function() {
            var $main = $('main'),
                $footer = $('footer'),
                emSize = parseFloat($('html').css('font-size'));
            if ($footer.length) {
                function adjustMainPadding() {
                    var footerHeight = $('footer').height();
                    $main.css('padding-bottom', footerHeight + emSize * 2)
                }
                setInterval(adjustMainPadding, 300);
            }
        });
    </script>
</body>
