li.bio-item,
li.services-item {
    border-radius: 5px;
    border-style: dotted;
    border-width: 3px;
}

div.bio-text,
li.services-item {
    padding: 1.75rem;

    @media (min-width: 48em) {
        padding: 2.5rem;
    }
}
