.cards {
    display: block;
    @media (min-width: 56em) {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;  /* default */
        justify-content: space-between;  /* equals gutter() */
    }
}

.card {
    display: block;
    margin-bottom: gutter();
    /* gutter() is a percentage which doesn't work on Firefox for vertical
     * margin on a flex item. This hack applies a different margin on Firefox
     * and Microsoft Edge. https://bugzilla.mozilla.org/show_bug.cgi?id=958714
     */
    @include only-firefox {  // partials/_hacks.scss
        margin-bottom: 29.531px;  // from Chrome's computed result
    }
    @include only-edge {  // partials/_hacks.scss
        margin-bottom: 29.531px;  // from Chrome's computed result
    }
    @media (min-width: 56em) {
        width: span(4);
    }
}

.bio-list,
.services-list,
.work-list {
    @extend .cards;
}

.bio-item {
    @extend .card;
    display: flex;  // so .bio-text can fill to bottom
    flex-direction: column;

    border-radius: 5px;
    border-width: 3px;
    border-style: dotted;
    border-color: color('md-grey-soft');
    background-color: white;
}

.services-item {
    @extend .card;

    border-radius: 5px;
    border-width: 3px;
    border-style: dotted;
    border-color: color('md-grey-soft');
    background-color: white;

    padding: 1.75rem;

    @media (min-width: 48em) {
        padding: 2.5rem;
    }
}

.work-item {
    @extend .card;
}

.bio-item,
.work-item {
    /* bio images should always fill their container.
     * This allows img sizes attribute to affect what image
     * in the srcset is fetched, without affecting the
     * presentation. Possibly this should be a handled
     * globally somehow.
     */
    img {
        width: 100%;
    }
}

.bio-photo,
.work-photo {
    position: relative;
}

.work-overlay {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;

    &, a { color: white; }
    color: white;
}

.bio-overlay {
    position: absolute;
    width: 100%;
    height: 22%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: color('dk-grey');
}

.bio-text {
    background-color: color('lt-grey');
    flex-grow: 1;  // fill gray to bottom

    padding: 1.75rem;

    @media (min-width: 48em) {
        padding: 2.5rem;
    }
}
