li.bio-item,
li.services-item {
    border-radius: 5px;
    border-width: 3px;
    border-style: dotted;
    border-color: color('md-grey-soft');
    background-color: white;
}

div.bio-text,
li.services-item {
    padding: 1.75rem;

    @media (min-width: 48em) {
        padding: 2.5rem;
    }
}

div.bio-text {
    background-color: color('lt-grey');
}

div.bio-overlay {
    color: color('dk-grey');
}

div.work-overlay {
    &, a { color: white; }
    color: white;
}
