@import '../../node_modules/accoutrement-color/sass/color';
@import '../../node_modules/sassdoc-theme-herman/scss/utilities';

// Brand Colors
// ------------
/// Our brand is defined by our primary brand blue,
/// and secondary light blue.
/// @group color
/// @preview color-palette
/// @type Map
$brand-colors: (
    'brand-blue': hsl(219, 75%, 35%),
    'brand-lt-blue': hsl(200, 75%, 80%),
);

// Accent Colors
// -------------
/// We use red, green and dark blue as accent
/// colors.
/// @group color
/// @preview color-palette
/// @type Map
$accent-colors: (
    'red': hsl(349, 85%, 51%),
    'red-RT': hsl(349, 85%, 41%),
    'green': hsl(128, 52%, 47%),
    'green-RT': hsl(128, 52%, 37%),
    'dk-blue': hsl(238, 75%, 14%),
);

// Neutral Colors
// --------------
/// Soft whites and greys round out our
/// palette.
/// @group color
/// @preview color-palette
/// @type Map
$neutral-colors: (
    'off-white-1': hsl(55, 32%, 93%),
    'off-white-2': hsl(53, 36%, 96%),
    'off-white-2-RT': hsl(200, 36%, 86%),
    'lt-grey': hsl(0, 0%, 90%),
    'md-grey-soft': hsl(0, 0%, 70%),
    'md-grey': hsl(0, 0%, 60%),
    'md-grey-RT': hsl(0, 0%, 65%),
    'dk-grey': hsl(0, 0%, 30%),
    'dk-grey-RT': hsl(0, 0%, 40%),
);

@include add-colors($brand-colors, $accent-colors, $neutral-colors);

@include herman-add-colors('brand-colors', $brand-colors);
@include herman-add-colors('accent-colors', $accent-colors);
@include herman-add-colors('netural-colors', $neutral-colors);



/* --- backgrounds ----------------------------- */

body {
    background-color: color('lt-grey');
}

main {
    // same as div.section-content
    background-color: color('off-white-2');
}

body.landing main {
    background-color: color('brand-blue');
}

header,
div.section-content {
    background-color: color('off-white-2');
}

div.section-header {
    background-color: color('brand-blue');
}

li.bio-item,
li.services-item {
    background-color: white;
}

div.bio-text {
    background-color: color('lt-grey');
}

footer {
    background-color: color('dk-blue');
}

input[type="submit"] {
    //background-color: color('red');
    background-color: color('green');
}

/* --- text ------------------------------------ */

html {
    color: color('dk-grey');
}

h1, h2 {
    color: color('brand-lt-blue');
}

h3.highlight {
    color: color('green');
}

p.landing {
    color: color('brand-lt-blue');
}

a {
    color: color('red');
}

.contact-icons a {
    color: color('md-grey');
}

.site-wordmark a {
    color: color('dk-grey');
}

div.work-overlay {
    &, a { color: white; }
    color: white;
}

div.bio-overlay {
    color: color('dk-grey');
}

input[type="submit"] {
    color: white;
}

footer {
    color: color('md-grey');
}

/* --- ui components --------------------------- */

li.bio-item, li.services-item {
    border-color: color('md-grey-soft');
}

fieldset {
    border-color: transparent;
}

input, textarea {
    border-color: color('md-grey-soft');
}

.solution-features h4,
.features-list li {
    border-bottom-color: color('green');
}

/* --- hovers ---------------------------------- */

a:hover {
    color: color('red-RT');
}

.contact-icons a:hover {
    color: color('md-grey-RT');
}

.site-wordmark a:hover {
    color: color('dk-grey-RT');
}

input[type="submit"]:hover {
    background-color: color('green-RT');
}
