@import '../../node_modules/accoutrement-color/sass/color';

$colors: (
    'lt-grey': hsl(0, 0%, 90%),
    'md-grey-soft': hsl(0, 0%, 70%),
    'md-grey': hsl(0, 0%, 60%),
    'dk-grey': hsl(0, 0%, 30%),

    'lt-blue': hsl(200, 75%, 80%),
    'md-blue': hsl(219, 75%, 35%),
    'dk-blue': hsl(238, 75%, 14%),
    'red': hsl(349, 85%, 51%),
    'green': hsl(128, 52%, 47%),
    'off-white-1': hsl(55, 32%, 93%),
    'off-white-2': hsl(53, 36%, 96%),
);

/* --- backgrounds ----------------------------- */

body {
    background-color: color('lt-grey');
}

header,
div.section-content {
    background-color: color('off-white-2');
}

div.section-header {
    background-color: color('md-blue');
}

li.bio-item, li.services-item {
    background-color: white;
}

footer {
    background-color: color('dk-blue');
}

input[type="submit"] {
    //background-color: color('red');
    background-color: color('green');
}

/* --- text ------------------------------------ */

html {
    color: color('dk-grey');
}

h1, h2 {
    color: color('lt-blue');
}

h3.highlight {
    color: color('green');
}

p.landing {
    color: color('lt-blue');
}

.proj-skills li {
    color: color('off-white-2');
}

a {
    color: color('red');
}

.contact-icons a {
    color: color('md-grey');
}

.site-wordmark a {
    color: color('dk-grey');
}

div.bio-overlay,
div.work-overlay {
    &, a { color: white; }
    color: white;
}

input[type="submit"] {
    color: white;
}

footer {
    color: color('md-grey');
}

/* --- ui components --------------------------- */

li.bio-item, li.services-item {
    border-color: color('md-grey-soft');
}

fieldset {
    border-color: transparent;
}

input, textarea {
    border-color: color('md-grey-soft');
}

.solution-features h5,
.features-list li {
    border-bottom-color: color('green');
}

/* --- nav ------------------------------------- */

@media screen and (max-width: 64.99999em) {
    .menu {
        background-color: color('md-blue');
    }
}

.menu a {
    color: color('dk-grey');
    @media (max-width: 64.99999em) {
        color: color('off-white-2');
    }
}

a.menu-toggle.open {
    color: color('dk-grey');  // same as wordmark
}

.menu ul {
    @media (max-width: 64.99999em) {
        background-color: color('md-blue');
    }
}

/* hovers */

.menu a:hover, .menu-toggle:hover {
    color: color('dk-grey');
}

/* animations */

.menu a, .menu-toggle {
    transition: color linear 0.15s;
}
