fieldset {
    border-color: transparent;
    margin-bottom: 0.75em;

    @media (min-width: 30em) {
        margin-bottom: 1rem;
    }
}

label {
    font-size: 1rem;
    line-height: 1.19;
    margin-bottom: 0.25em;

    @media (min-width: 30em) {
        font-size: 1.375rem;
    }
}

input,
textarea {
    width: 100%;
    border-color: color('md-grey-soft');
    border-radius: 5px;
    border-style: dotted;
    border-width: 3px;
    padding: 1rem;
}

input[type="submit"] {
    width: 33%;
    border-width: 0;
    text-transform: uppercase;
    background-color: color('green');
    color: white;
}

input[type="submit"]:hover {
    background-color: color('green-RT');
}
