/* Force main to take at least the height of the viewport,
 * especially for applying a background color on the landing.
 * See http://stackoverflow.com/a/17555766/347386
 * but we're using body height 100% because nesting min-height doesn't work, see
 * http://stackoverflow.com/q/16043519/347386
 * The SO answer says using body height 100% will "leave a gap beneath the fold,
 * which is usually undesirable" but I couldn't find anything wrong.
 */
html, body {
    height: 100%;
}

body {
    background-color: color('lt-grey');
}

main {
    position: relative;
    min-height: 100%;  // of body
    padding-bottom: 12em;  // sufficient for footer
    background-color: color('off-white-2');
}

body.landing main {
    padding-bottom: 0px;  // no footer on landing
    background-color: color('brand-blue');
}

header {
    padding-top: 1em;
    padding-bottom: 0.5em;
    background-color: color('off-white-2');
}

div.section-header {
    padding-top: 1rem;
    padding-bottom: 1.3333rem;
    background-color: color('brand-blue');

    @media (min-width: 48em) {
        padding-top: 2rem;
        padding-bottom: 2.6666rem;
    }
}

div.section-content {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    background-color: color('off-white-2');

    @media (min-width: 30em) {
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
}

div.section-sub {
    margin-bottom: 2rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    background-color: color('dk-blue');

    @media (min-width: 30em) {
        padding-top: 2.25rem;
        padding-bottom: 3rem;
    }
}

// Project page
// ============

/* when the project includes a visual,
 * use 3 columns for intro text
 */
div.proj-intro {
    @media (min-width: 56em) {
        @include span(3);
    }
}

/* when there is no accompanying visual,
 * match the width of the main text
 */
div.col-width-main {
    @media (min-width: 56em) {
        @include span(5);
    }
}

div.proj-header-image,
div.proj-header-video {
    /* ensure the image or video fully occupies its container, even if we only
     * have a lower resolution to offer.
     */
    img, video {
        width: 100%;
    }
    @media (min-width: 56em) {
        @include span(last 5);
    }
    @media (min-width: 75em) {
        margin-top: -180px;
    }
}

/* IE11 tries to play one of the videos and fails, so
 * the fallback image at the end of the video node doesn't
 * kick in. Instead we use CSS to hide the video on IE and
 * display the image.
 */
.only-ie {
    display: none;
}
@include only-ie {
    .not-ie {
        display: none;
    }
    .only-ie {
        display: block;
    }
}

div.proj-solution {
    @include span(full);
}

div.proj-problem,
div.solution-text,
div.solution-pieces {
    @media (min-width: 56em) {
        @include span(5);
    }
}

div.solution-features {
    @media (min-width: 56em) {
        @include span(2 wide last);
    }
}

// Contact page
// ============

div.contact-form {
    @media (min-width: 56em) {
        @include span(4);
    }
}

div.contact-map {
    position: relative;
    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: transparent;
    }
}

div.ref-services {
    display: none;
    @media (min-width: 56em) {
        display: block;
        @include span(4);
    }
}

div.contact-location,
div.ref-social {
    @media (min-width: 56em) {
        @include span(4 last);
    }
}
