.menu {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    &.show {  // jquery .toggleClass()
        display: flex;
    }

    @media screen and (min-width: 65em) {
        position: initial;
        height: initial;
        width: initial;
        flex-flow: initial;
        justify-content: initial;
        display: block;
        float: right;
        padding-left: 1em;
    }
}

.menu ul {
    text-align: center;

    @media screen and (min-width: 65em) {
        text-align: left;
        display: inline-block;
    }
}

html.no-flexbox .menu ul,
html.no-flexbox-vertical-center .menu ul {
    // When flexbox isn't fully supported (in particular this seems to break
    // justify-content:center) then apply a small margin to the top so the
    // menu is pleasantly positioned on iphone 4 and old android.
    // Don't make this too large since we don't know the viewport height.
    margin-top: 48px;

    @media screen and (min-width: 65em) {
        margin-top: 0px;
    }
}

.menu li {
    line-height: 1.175;
    // 27px is 1.5 times the font-size, minus 3px for border
    margin-bottom: 24px;

    a {
        border-width: 3px;
        border-style: none;
    }

    &.current-item a {
        border-bottom: dotted;
    }

    @media screen and (min-width: 65em) {
        display: inline-block;
        margin: 0px 50px 0px 0px;
        padding-left: 8px;

        &.current-item  a {
            padding-left: 8px;
            border-left: 3px dotted;
            border-bottom: initial;
        }
    }
}

.menu li:first-child {  // "Home"
    @media screen and (min-width: 65em) {
        display: none;
    }
}

.menu li:last-child {
    @media screen and (min-width: 65em) {
        margin-right: 0px;
    }
}

.menu-toggle {
    display: block;
    float: right;
    outline: 0;

    &.close {
        /* absolute position because floating right pushes the
            * first list item left */
        position: absolute;
        top: 16px;
        right: 16px;
        display: none;  // jquery .toggle()
    }

    @media screen and (min-width: 65em) {
        display: none;
    }
}
