@media screen and (max-width: 64.99999em) {
    .menu {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        display: none;
    }

    .menu ul {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .menu-toggle {
        display: inline-block;
        float: right;
        outline: 0;

        &.close {
            display: none;
            margin-right: 16px; /* hack to match section-container */
        }
    }
}

@media screen and (min-width: 65em) {
    .menu {
        display: block;
        float: right;
        padding-left: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .menu ul {
        display: inline-block;
    }

    .menu li {
        margin: 0px 50px 0px 0px;
        float: left;
    }

    .menu li:first-child {
        display: none;
    }

    .menu li:last-child {
        margin-right: 0px;
    }

    .menu-toggle {
        display: none;
    }
}
