@import '../../node_modules/accoutrement-scale/sass/scale';

$default-units: 'rem';

$ratios: (
    'my-ratio': 1.2,
);

$sizes: (
    'root': 21px,
    'rhythm': 'root' ('fifth': 1), // determines line heights, overriding for now

    'h1': 'root' ('my-ratio': 4),  // 44
    'h2': 'root' ('my-ratio': 1),  // 25
    'h3': 'root' ('my-ratio': 0),  // 21
);

$lh-heading: 1.25;
$lh-text: 1.5;

html {
    @include baseline();
    line-height: $lh-text;
}

h1 {
    @include font-size('h1');
    line-height: $lh-heading;
}

h2 {
    @include font-size('h2');
    line-height: $lh-heading;
    margin-bottom: size('h2') * $lh-heading / 2;
}

h3 {
    @include font-size('h3');
    line-height: $lh-heading;
    margin-bottom: size('h3') * $lh-heading / 2;
}

p {
    margin-bottom: size('root') * $lh-text / 2;
}

p.site-wordmark {
    @include font-size('h2');
}

/* section spacing */

section.content {
    margin-top: size('h2') * $lh-heading * 1.5;
    margin-bottom: size('h2') * $lh-heading;
}

// TODO- need a clearfix?
#our-work, #about-us, #what-we-do, #the-team {
    margin-bottom: size('h2') * $lh-heading * 2;
}

div.blurb, ul.proj-list, ul.services-list {
    margin-bottom: size('h2') * $lh-heading;
}

li.proj-list-item {
    margin-bottom: size('root') * $lh-text;
}

// project blurb
// project image
// proj-desc


