html {
    font-size: 100%;
}

h1, h2 {
    font-size: 2.5rem;
    line-height: 1.25;

    @media (min-width: 30em) {
        font-size: 5rem;
    }
}

h3 {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 0.25em;

    @media (min-width: 30em) {
        font-size: 2rem;
    }
}

h3.lrg {
    font-size: 1.625rem;
    line-height: 1.25;

    @media (min-width: 30em) {
        font-size: 2.5rem;
    }
}

h4, p {
    font-size: 1.125rem;
    line-height: 1.3;
    margin-bottom: 0.65em;

    @media (min-width: 30em) {
        font-size: 1.5rem;
    }
}

h5, li {
    font-size: 1.125rem;

    @media (min-width: 30em) {
        font-size: 1.375rem;
    }
}

p.intro {
    font-size: 1.25rem;
    line-height: 1.3;

    @media (min-width: 30em) {
        font-size: 1.625rem;
    }
}

p.site-wordmark {
    font-size: 1.5rem;

    line-height: 1.25;
    margin-bottom: 0;

    @media (min-width: 30em) {
        font-size: 2rem;
    }
}

.menu li {
    font-size: 1.125rem;

}


/* section spacing */

//section.content {
//    margin-top: size('h2') * $lh-heading * 1.5;
//    margin-bottom: size('h2') * $lh-heading;
//}
//
//// TODO- need a clearfix?
//#our-work, #what-we-do, #how-we-do-it, #who-we-are {
//    margin-bottom: size('h2') * $lh-heading * 2;
//}
//
//div.blurb, ul.work-list, ul.services-list {
//    margin-bottom: size('h2') * $lh-heading;
//}
//
//li.work-item {
//    margin-bottom: size('root') * $lh-text;
//}

/**
 - Heights
 */

header {
    height: 2.916em;
}

div.section-header {
    padding-bottom: 4.625em;
}
