html {
    font-size: 100%;
}

h1, h2 {
    font-size: 2.5rem;
    line-height: 1.25;
    margin-top: 1em;

    @media (min-width: 30em) {
        font-size: 5rem;
        margin-top: 3em;
    }
}

h3 {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 0.25em;

    @media (min-width: 30em) {
        font-size: 2rem;
    }
}

h3.lrg {
    font-size: 1.625rem;
    line-height: 1.25;

    @media (min-width: 30em) {
        font-size: 2.5rem;
    }
}

h4, p {
    font-size: 1.125rem;
    line-height: 1.3;
    margin-bottom: 0.65em;

    @media (min-width: 30em) {
        font-size: 1.5rem;
    }
}

h5, li {
    font-size: 1.125rem;

    @media (min-width: 30em) {
        font-size: 1.375rem;
    }
}

p.intro {
    font-size: 1.25rem;
    line-height: 1.3;

    @media (min-width: 30em) {
        font-size: 1.625rem;
    }
}

p.site-wordmark, a.toggle-nav {
    font-size: 1.5rem;

    line-height: 1.25;
    margin-bottom: 0;

    @media (min-width: 30em) {
        font-size: 2rem;
    }
}

.menu li {
    font-size: 1.125rem;

}

/**
 - Sections
 */

header {
    height: 2.916em;
}

div.section-header,
div.section-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media (min-width: 30em) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

div.section-sub {
    margin-bottom: 2.5rem;
}

div.bio-text {
    padding: 1.5rem;
    padding-top: 1rem;
}
