html {
    font-family: "foco", sans-serif;

    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

$f-light: 300;
$f-regular: 400;
$f-bold: 700;
$f-black: 900;

ul {
    list-style: none;
}

ul.solution-list {
    list-style: square;
    margin-left: 1.5em;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: $f-black;
}

h2 {
    font-weight: $f-black;
    text-transform: uppercase;
}

h3 {
    font-weight: $f-bold;
}

.contact-location h3, .contact-social h3 {
    text-transform: uppercase;
}

h4 {
    font-weight: $f-bold;
}

.bio-overlay h3,
.bio-overlay h4 {
    text-align: center;
}

p.site-wordmark {
    font-weight: $f-black;
}

p.contact-icons {
    font-size: 200%;
}

.menu li {
    text-transform: uppercase;
    font-weight: $f-black;
    @media (min-width: 65em) {
        font-weight: $f-bold;
    }
}

label {
    display: block;
}

input[type="submit"] {
    text-transform: uppercase;
}

.t-italic {
    font-style: italic;
}
