html {
    font-family: "foco", sans-serif;

    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

h1 {
    font-family: "adelle", serif;
    font-weight: 400; // normal
}

h2 {
    font-family: "adelle", serif;
    font-weight: 600; // semi-bold
    display: inline;
}

p.site-workmark {
    font-weight: 900; // black
}

p.lede {
    font-family: "adelle", serif;
    display: inline;
}

a {
    font-weight: bold;
    text-decoration: none;
}

