html {
    font-family: "foco", sans-serif;

    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

$f-light: 300;
$f-regular: 400;
$f-bold: 700;
$f-black: 900;

$a-thin: 100;
$a-light: 300;
$a-regular: 400;
$a-semibold: 600;
$a-bold: 700;
$a-extrabold: 800;
$a-heavy: 900;

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: $f-black;
}

h2 {
    font-weight: $f-black;
    text-transform: uppercase;
}

h3 {
    font-weight: $f-bold;
}

h4 {
    font-weight: $f-bold;
}

h5 {
    font-family: "adelle", serif;
    font-weight: $a-semibold;
}

p.site-wordmark {
    font-weight: $f-black;
}

p.intro {
    font-family: "adelle", serif;
    font-weight: $a-regular;
}

p.social {
    font-style: italic;
}

.menu li {
    font-weight: $f-bold;
    text-transform: uppercase;
}

label {
    font-family: "adelle", serif;
}
